@import global
*
    margin: 0
    padding: 0
    text-decoration: none

body
    background: #fafafa
    font-size: 10px
    @include columnFlex
    justify-content: center
    align-items: stretch
    white-space: nowrap
    overflow-y: scroll
    font-family: 'Montserrat', sans-serif

    h2, span, h3
        color: $fontColor
        font-weight: 600
        font-size: 1em
.bookstoreTitle, .fullWebsite, .CategoriesComponent,.ContactComponent,.App,.BooksContainer,.BookDetails,.BookChapter, .Books
    @include columnFlex
    align-items: center

button
    @include button
    padding: 3px 8px
    font-size: .75em

::placeholder
    color: #c4c4c4
    font-weight: 600

.percentage
    font-size: 1em
.completed
    font-size: .7em
.addBookH3
    color: #888888
    font-size: 1em
    font-weight: 700
    margin-bottom: .2rem
.bookTitle, .author,.editSect button
    font-family: 'Roboto Slab', serif

.bookstoreTitle
    justify-content: center
    color: #0290ff
    margin-bottom: .17rem
    margin-right: .4rem
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
    font-size: 1.2em

.fullWebsite
    justify-content: space-evenly
    align-items: stretch
    gap: 2rem

.navBar,.fstdiv,.Book,.BookStatus
    @include rowFlex
    align-items: center

.navBar
    justify-content: space-between
    align-self: stretch
    padding: .5rem 2.5rem .2rem 1.5rem
    box-shadow: $box-shadow
    background: #ffffff

.fstdiv
    justify-content: space-evenly
    gap: .6rem

.NavLink
    color: #121212
    font-size: .7em
    &:active
        opacity: .5
    &:focus
        opacity: .5
.accountPic
    img
        height: 22px
        align-self: flex-end

.HomeComponent
    text-align: left
    white-space: normal
    margin: 2rem 3rem

    h2
        font-size: 1.2em
        font-weight: 600

    p
        font-size: 1em
        margin-left: .5rem

    ol li
        font-size: 1em
        margin-left: 3rem

.CategoriesComponent
    justify-content: center
    align-items: stretch

.notFound
    border-radius: 4px
    margin: 5rem auto
    padding: 4rem
    font-size: 2em
    font-weight: 800
    color: #121212
    background: $secondarycolor

.ContactComponent
    justify-content: center
    margin: 2rem
.App,.BooksContainer
    justify-content: center
    align-items: stretch
    gap: .5rem
footer
    font-family: 'Roboto Slab', serif
    font-size: .75em
    font-weight: 200
    position: relative
    align-self: stretch
    top: auto
    padding: .5rem
    background: #ffff
    margin-top: 2rem
    opacity: .6
    a
        @include link
        color: blue

.Book
    justify-content: space-between
    padding: .7rem 1.5rem .5rem 1rem
    background: #ffffff
    border-radius: 4px
    color: $fontColor
    .fstDiv
        flex: .4
    .scdDiv
        flex: .6
        @include rowFlex
        align-items: center
        justify-content: center
        gap: 2rem
    span, a
        font-size: .75em
        font-weight: 600
        opacity: .6
.BooksComponent
    margin: .5rem 1rem
    ul
        @include columnFlex
        justify-content: center
        gap: .5rem

.author
    color: #4386bf

.BookDetails,.BookChapter, .Books
    justify-content: center
    align-items: stretch
    gap: .5rem

.BookChapter
    gap: .25rem
    border-left: solid 2px #e8e8e8
    padding-left: 1em
    button
        margin-top: .3rem
        padding: 5px 10px
        background: #0290ff
        color: $primarycolor
        font-size: .4em
        align-self: flex-start
        text-align: left
        font-weight: 300
        font-stretch: normal
        font-style: normal
        line-height: normal
        letter-spacing: 0.5px

.CircularProgressbar
    max-width: 3em
    max-height: 3em

.BookDetails
    gap: .2rem
    h2
        font-size: 1.3em
        font-weight: 700
.editSect
    @include rowFlex
    justify-content: start
    .comment, .remove
        padding: 0 .2rem 0 0
        border-right: solid 1px #e8e8e8
    .remove
        margin-left: .5rem

.headfour
    font-family: 'Roboto Slab', serif
    font-size: .7em
    h3
        font-weight: 800
        font-size: .9em
    h4
        font-size: .85em

.AddBook
    @include columnFlex
    justify-content: center
    gap: .3rem
    align-self: stretch
    padding: .8rem
    margin: .2rem 1rem
    background: #fafafa
    border-radius: 3px
    input
        font-size: .8em
        padding: .2rem
        border: 1px solid transparent

    .bookInput
        @include rowFlex
        justify-content: space-evenly
        align-items: stretch

        gap: .5rem
        .inputTitle
            flex: .8

.BookStatus
    justify-content: space-between
    gap: .4rem

    div h3
    font-size: .9em

.addBtn
    font-family: 'Roboto Slab', serif
    flex: .3
    background: #0290ff
    margin: 0
    color: #ffff
.updatePro
    color: #ffff
.hSpan
    height: 0.25rem
    margin: .5rem 1rem
    border: solid 1px #e8e8e8
    border-bottom: none
    color: #121212

@media ( min-width: 768px  )
    body
        font-size: 18px
    .accountPic
        img
            width: 40px
    .navBar
        padding: .7rem 1.5rem
    .Book
        padding: 1.5rem 5rem 1.5rem 1rem
    .BooksComponent
        margin: 2rem 5rem
        ul
            gap: 1.5rem
    .hSpan
        height: 0.25rem
        margin: .5rem 4rem
    .AddBook
        margin: 2rem 4rem
    .headSpan
        height: 2.5rem
    footer
        width: 98%

@media (min-width: 999px)
    body
        font-size: 25px
    .accountPic
        img
            width: 50px
    .headSpan
        height: 2.8rem
    .book
        margin: 1.5rem 10rem

@media (min-width:1200px)
    body
        font-size: 30px
    .headSpan
        height: 3.3rem
    footer
        width: 98.5%
