@import global

*
    margin: 0
    padding: 0
    text-decoration: none

body
    background: #fafafa
    font-size: 10px
    @include columnFlex
    justify-content: center
    align-items: stretch
    white-space: nowrap
    overflow-y: scroll

    h2, span, h3,footer
        color: $fontColor
        font-weight: 600
        font-size: 1em

button
    @include button
    padding: 3px 8px
    font-size: .75em
::placeholder
    color: $secondarycolor
    font-weight: 600

.bookstoreTitle
    color: $secondarycolor
    font-weight: 700
    @include columnFlex
    justify-content: center
    align-items: center

.fullWebsite
    @include columnFlex
    justify-content: space-evenly
    align-items: stretch
    gap: 2rem

.App,.BooksContainer
    @include columnFlex
    justify-content: center
    align-items: stretch
    gap: .5rem
footer
    position: relative
    align-self: stretch
    top: auto
    padding: .2rem
    background: #ffff
    margin-top: 2rem

    a
        @include link
        color: blue

.Book
    @include rowFlex
    justify-content: space-between !important
    align-items: center
    align-self: stretch !important
    margin: .5rem .5rem
    padding: .5rem
    background: #ffffff
    border-radius: 3px
    box-shadow: $box-shadow
    color: $fontColor
    // gap: 2rem
    .fstDiv
        flex: .5
    .scdDiv
        flex: .5
        @include rowFlex
        justify-content: space-between !important
        align-items: center
        gap: .5rem
    span, a
        font-size: .75em
        font-weight: 600
        opacity: .4
    a
        opacity: .6
.BookChapter
    gap: .25rem
    button
        margin-top: .3rem
        padding: 3px 10px
        background: #0290ff
        color: $primarycolor !important

.AddBook
    @include columnFlex
    justify-content: center
    gap: .3rem
    align-self: stretch !important
    padding: .5rem
    margin: .2rem
    background: #ffff
    border-radius: 3px
    box-shadow: $box-shadow
    input, button
        font-size: .8em
        padding: 2px
    h3
        color: #888888
        font-size: 1.3em
        font-weight: 800
    .bookInput
        @include rowFlex
        justify-content: space-evenly !important
        align-items: center
        gap: .5rem
        input
            flex: .4
        button
            flex: .2
            background: #0290ff
            color: #ffff !important

.BookDetails,.BookChapter, .Books
    @include columnFlex
    justify-content: center
    align-items: stretch
    gap: .5rem

.progressBar
    width: 4em
    height: 4em
    align-self: center
    border-image-source: linear-gradient(to bottom, #0124ea, #379cf6) !important

.CircularProgressbar .CircularProgressbar-path
    stroke: #0290ff !important

.BookDetails
    gap: .2rem
    h2
        font-size: 1.3em
        font-weight: 700
    div
        @include rowFlex
        justify-content: stretch !important
        align-items: center
        gap: .5rem

.BookStatus
    @include rowFlex
    justify-content: space-between !important
    align-items: center
    gap: .4rem
    div h3
        font-size: .9em

.headSpan
    border: .01rem solid $fontColor
    height: 1rem
    box-shadow: $spanShadow
    border-radius: .2rem
    opacity: .2
.hSpan
    border: .01rem solid $fontColor
    width: 98%
    opacity: .3
    border-radius: 6px
    align-self: center

.headfour
    font-size: .85em !important
    h3
        font-weight: 800
        font-size: 1em
    h4
        font-size: .85em
        opacity: .4

.navBar
    @include rowFlex
    justify-content: space-between
    align-items: center
    align-self: stretch
    padding: .5rem 0.5rem .05rem 1.5rem
    box-shadow: $box-shadow
    background: #ffffff
.fstdiv
    @include rowFlex
    justify-content: space-evenly
    align-items: center
    gap: .6rem
.bookstoreTitle
    color: #0290ff
    margin-bottom: .17rem
    font-family: Montserrat
    font-size: 1.875rem
    font-weight: bold
    font-size: 1.2em
.link
    font-size: .9em
    &:active, &:focus
        opacity: 50

.accountPic
    img
        max-width: 20px
        align-self: flex-end

.HomeComponent
    text-align: left
    white-space: normal !important
    margin: 2rem 3rem

    h2
        font-size: 1.2em
        font-weight: 600

    p
        font-size: 1em
        margin-left: .5rem

    ol li
        font-size: 1em
        margin-left: 3rem

.CategoriesComponent
    @include columnFlex
    justify-content: center
    align-items: stretch

.notFound
    border-radius: 4px
    margin: 5rem auto
    padding: 4rem
    font-size: 2em
    font-weight: 800
    color: white
    background: $secondarycolor

.ContactComponent
    @include columnFlex
    justify-content: center
    align-items: center
    margin: 2rem

@media ( min-width: 768px  )
    body

        font-size: 18px
    .accountPic
        max-width: 25px

    .navBar
        padding: .2rem 1.5rem
    .headSpan
        height: 2.5rem
    footer
        width: 98%
@media (min-width: 999px)
    body
        font-size: 25px
    .accountPic
        max-width: 30px

    .headSpan
        height: 2.8rem

@media (min-width:1200px)
    body
        font-size: 30px
    .headSpan
        height: 3.3rem
    footer
        width: 98.5%
