@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #fafafa;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  white-space: nowrap;
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
}
body h2, body span, body h3 {
  color: #121212;
  font-weight: 600;
  font-size: 1em;
}

.bookstoreTitle, .fullWebsite, .CategoriesComponent, .ContactComponent, .App, .BooksContainer, .BookDetails, .BookChapter, .Books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  transition: all 0.5s;
  border-radius: 2px;
  color: #4386bf;
  background: none;
  cursor: pointer;
  text-align: center;
  border: none;
  padding: 3px 8px;
  font-size: 0.75em;
}
button:active {
  transform: scale(0.96);
  background: #ffffff;
}
button:focus {
  outline: 0;
}

::placeholder {
  color: #c4c4c4;
  font-weight: 600;
}

.percentage {
  font-size: 1em;
}

.completed {
  font-size: 0.7em;
}

.addBookH3 {
  color: #888888;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.bookTitle, .author, .editSect button {
  font-family: "Roboto Slab", serif;
}

.bookstoreTitle {
  justify-content: center;
  color: #0290ff;
  margin-bottom: 0.17rem;
  margin-right: 0.4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 1.2em;
}

.fullWebsite {
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2rem;
}

.navBar, .fstdiv, .Book, .BookStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navBar {
  justify-content: space-between;
  align-self: stretch;
  padding: 0.5rem 2.5rem 0.2rem 1.5rem;
  box-shadow: 5px 5px 2px rgba(233, 223, 223, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.fstdiv {
  justify-content: space-evenly;
  gap: 0.6rem;
}

.link {
  color: #121212;
  font-size: 0.7em;
}
.link:active {
  opacity: 0.5;
}
.link:focus {
  opacity: 0.5;
}

.accountPic img {
  height: 26px;
  align-self: flex-end;
}

.HomeComponent {
  text-align: left;
  white-space: normal;
  margin: 2rem 3rem;
}
.HomeComponent h2 {
  font-size: 1.2em;
  font-weight: 600;
}
.HomeComponent p {
  font-size: 1em;
  margin-left: 0.5rem;
}
.HomeComponent ol li {
  font-size: 1em;
  margin-left: 3rem;
}

.CategoriesComponent {
  justify-content: center;
  align-items: stretch;
}

.notFound {
  border-radius: 4px;
  margin: 5rem auto;
  padding: 4rem;
  font-size: 2em;
  font-weight: 800;
  color: #121212;
  background: #ffffff;
}

.ContactComponent {
  justify-content: center;
  margin: 2rem;
}

.App, .BooksContainer {
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}

footer {
  font-family: "Roboto Slab", serif;
  font-size: 0.75em;
  font-weight: 200;
  position: relative;
  align-self: stretch;
  top: auto;
  padding: 0.5rem;
  background: white;
  margin-top: 2rem;
  opacity: 0.6;
}
footer a {
  transition: all 0.5s;
  opacity: 0.6;
  cursor: pointer;
  border: none;
  color: blue;
}

.Book {
  justify-content: space-between;
  padding: 0.7rem 1.5rem 0.5rem 1rem;
  background: #ffffff;
  border-radius: 4px;
  color: #121212;
}
.Book .fstDiv {
  flex: 0.4;
}
.Book .scdDiv {
  flex: 0.6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.Book span, .Book a {
  font-size: 0.75em;
  font-weight: 600;
  opacity: 0.6;
}

.BooksComponent {
  margin: 0.5rem 1rem;
}
.BooksComponent ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.author {
  color: #4386bf;
}

.BookDetails, .BookChapter, .Books {
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}

.BookChapter {
  gap: 0.25rem;
  border-left: solid 2px #e8e8e8;
  padding-left: 1em;
}
.BookChapter button {
  margin-top: 0.3rem;
  padding: 5px 10px;
  background: #0290ff;
  color: #CAF0F8;
  font-size: 0.4em;
  align-self: flex-start;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

.CircularProgressbar {
  max-width: 3em;
  max-height: 3em;
}

.BookDetails {
  gap: 0.2rem;
}
.BookDetails h2 {
  font-size: 1.3em;
  font-weight: 700;
}

.editSect {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.editSect .comment, .editSect .remove {
  padding: 0 0.2rem 0 0;
  border-right: solid 1px #e8e8e8;
}
.editSect .remove {
  margin-left: 0.5rem;
}

.headfour {
  font-family: "Roboto Slab", serif;
  font-size: 0.7em;
}
.headfour h3 {
  font-weight: 800;
  font-size: 0.9em;
}
.headfour h4 {
  font-size: 0.85em;
}

.AddBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  align-self: stretch;
  padding: 0.8rem;
  margin: 0.2rem 1rem;
  background: #fafafa;
  border-radius: 3px;
}
.AddBook input {
  font-size: 0.8em;
  padding: 0.2rem;
  border: 1px solid transparent;
}
.AddBook .bookInput {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 0.5rem;
}
.AddBook .bookInput .inputTitle {
  flex: 0.8;
}

.BookStatus {
  justify-content: space-between;
  gap: 0.4rem;
  font-size: 0.9em;
}
.addBtn {
  font-family: "Roboto Slab", serif;
  flex: 0.3;
  background: #0290ff;
  margin: 0;
  color: white;
}

.updatePro {
  color: white;
}

.hSpan {
  height: 0.25rem;
  margin: 0.5rem 1rem;
  border: solid 1px #e8e8e8;
  border-bottom: none;
  color: #121212;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .accountPic img {
    width: 40px;
  }
  .navBar {
    padding: 0.7rem 1.5rem;
  }
  .Book {
    padding: 1.5rem 5rem 1.5rem 1rem;
  }
  .BooksComponent {
    margin: 2rem 5rem;
  }
  .BooksComponent ul {
    gap: 1.5rem;
  }
  .hSpan {
    height: 0.25rem;
    margin: 0.5rem 4rem;
  }
  .AddBook {
    margin: 2rem 4rem;
  }
  .headSpan {
    height: 2.5rem;
  }
  footer {
    width: 98%;
  }
}
@media (min-width: 999px) {
  body {
    font-size: 25px;
  }
  .accountPic img {
    width: 50px;
  }
  .headSpan {
    height: 2.8rem;
  }
  .book {
    margin: 1.5rem 10rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 30px;
  }
  .headSpan {
    height: 3.3rem;
  }
  footer {
    width: 98.5%;
  }
}

/*# sourceMappingURL=App.css.map */
